// Grid Variables //

// 1. The width of your container.
$totalWidth: 1200px !default;

// 2. The size of your gutters:
$gutterWidth: 10px !default;

// 3. The side which you prefer your gutters to be assigned: left or right.
$gutterDir: left !default;

// 4. How many columns:
$columns: 12 !default;


// COLORS //
$white: #ffffff;
$grey: #868686;
$lightGrey: #d5d5d5;
$darkGrey: darken($grey, 20);

$black: #000000;
$red: #ab1c00;

// Weebly Colors //
$weebDkBlue: #1e79cc;
$weebMidBlue: #2486dd;
$weebBlue: #2990ea;

$weebDkYellow: #f19420;
$weebMidYellow: #ff9b00;
$weebYellow: #ffa61d;

$weebLightGrey: #dad9d9;
$weebGrey: #6f757a;
$weebMidGrey: #586065;
$weebDkGrey: #586065;