//* Framework */
//* Global styles, things that "can't be moved around" */

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  color: #313131;
  font-size: 12px;
  text-align: center;
  background-color: $weebDkBlue;
  background-image: url(../img/bg_noise.png), url(../img/logo_shadow.png);
  background-position: top left, bottom right;
  background-repeat: repeat, no-repeat;
}



.container {
  text-align: left;
}

//* parent container for task manager */
#taskManager {
  overflow: hidden;
  margin: 10px;
}

.hidden {
  display: none;
}