// First, define your grid.
//------------------------
// 1. The width of your container.
$totalWidth: 900px !default;

// 2. The size of your gutters:
$gutterWidth: 10px !default;

// 3. The side which you prefer your gutters to be assigned: left or right.
$gutterDir: left !default;

// 4. How many columns:
$columns: 12 !default;

// MIXINS/FUNCTIONS //

// Modular Scale & Golden Ratio //
// credit for modular-scale and golden-ratio goes to the fabulous bourbon library.
// https://github.com/thoughtbot/bourbon

@function modular-scale($value, $increment, $ratio) {
  @if $increment > 0 {
    @for $i from 1 through $increment {
      $value: $value * $ratio;
    }
  }
  @if $increment < 0 {
    $increment: abs($increment);
    @for $i from 1 through $increment {
      $value: $value / $ratio;
    }
  }
  @return $value;
}

// modularscale.com

@mixin golden-ratio($value, $half, $dir: width, $gutterDir: $gutterDir, $gutter: true) {
  @if $half == "greater" {
    $value: modular-scale($value, -1, 1.618);
  }
  @if $half == "lesser" {
    $greater: modular-scale($value, -1, 1.618);
    $value: modular-scale($greater, -1, 1.618);
  }
  @if $gutter == true {
    margin-#{$gutterDir}: $gutterWidth;
    #{$dir}: $value - $gutterWidth;
  }
  @else {
    #{$dir}: $value;
  }
}

// simply returns the value of the ratio, no gutters.
@function golden-ratio($value, $half) {
  @if $half == "greater" {
    @return modular-scale($value, -1, 1.618);
  }
  @if $half == "lesser" {
    $greater: modular-scale($value, -1, 1.618);
    @return modular-scale($greater, -1, 1.618);
  }
}

// goldenratiocalculator.com

// Column Generator //
// Defines the width of a block based on the number of columns passed.
// if $gutter is passed as false, it will skip the gutter asignment
// if $gutterDir is passed, it over-rides the default.
@mixin columns($colNum, $gutterDir: $gutterDir, $gutter: true) {
  @if $gutter == true {
    margin-#{$gutterDir}: $gutterWidth;
  }
  width: $colNum * $totalWidth / $columns - $gutterWidth;
}

// simply returns the width of column, no gutters.
@function columns($colNum) {
  @return $colNum * $totalWidth / $columns;
}

// UTILITIES //
// the famous clearfix, cleaned up a bit.
// thanks to: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clear {
  // for ie 6/7
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
    visibility: hidden;
  }
  &:after {
    clear: both;
  }
}





//*** Grid system generation **//
[class*="block_"] {
  float: left;
}

[class*="block_"] > [class*="block_"] {
  &:first-child {
    margin-#{$gutterDir}: 0;
  }
}

@for $i from 1 through $columns {
  .block_#{$i} {
    @include columns($i);
  }
}

